@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>Zresetuj kod weryfikacji</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz swój kod weryfikacji twoja aplikacja uwierzytelniania dwuskładnikowego przestanie działać, do momentu ponownej konfiguracji.</strong>
    </p>
    <p>
        Ten proces wyłącza 2FA dopóki nie skonfigurujesz ponownie ustawień aplikacji uwierzytelniającej.
        Jeśli nie przeprowadzisz ponownej konfiguracji możesz stracić dostęp do konta użytkownika.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Zresetuj klucz weryfikacji</button>
    </form>
</div>
