@model YourScheduler.BusinessLogic.Models.DTOs.EventDto

@{
    ViewBag.Title = "Create Event";
    Layout = "_Layout";
}

<div class="card" style="width: 32rem;">
    <div class="card-header">
        Stwórz nowe wydarzenie
    </div>
    <ul class="list-group list-group-flush">
        <form asp-action="Create" enctype="multipart/form-data">
        <li class="list-group-item">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa wydarzenia</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis wydarzenia</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <label asp-for="Date" class="control-label">Data</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <label asp-for="Isopen" class="control-label">Wydarzenie publiczne</label>
                <input asp-for="Isopen" type="checkbox" />
                <span asp-validation-for="Isopen"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <div>Wybierz zdjęcie (format .jpg lub .png)</div>
                <input asp-for="ImageFile" accept="image/*" />
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <button type="submit" class="btn btn-success icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Stwórz wydarzenie">
                    <span class="bi bi-calendar-check main-icons"></span>
                </button>
            </div>
        </li>
        </form>
        <li class="list-group-item">
            <a asp-controller="Event" asp-action="GetAllEvents" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Powrót">
                <span class="bi bi-arrow-return-left main-icons"></span>
            </a>
        </li>
    </ul>
</div>