@model YourScheduler.BusinessLogic.Models.DTOs.EventDto

@{
    ViewBag.Title = "Błąd edycji wydarzenia";
}

<h2>Nie możesz usunąć wydarzenia, nie jesteś organizatorem!</h2>

<div>
    <a asp-controller="Event" asp-action="GetUserEvents" class="btn btn-primary">Powrót</a>
</div>
