@using Microsoft.AspNetCore.Identity
@using YourScheduler.BusinessLogic.Services.Interfaces;
@using YourScheduler.Infrastructure.Entities;
@using YourScheduler.BusinessLogic.Models.DTOs;
@*@model UserDto*@

@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav flex-grow-1">
@if (SignInManager.IsSignedIn(User))
{
@*    <li class="nav-item list2">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Użytkownik</button>
            <ul>
               <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="user" asp-action="Index">Dane użytkownika</a>
                </li>

                <li>
                    <a class="nav-link text-dark" asp-action="Edit" asp-route-id="@Model.Id" >Edytuj - TODO</a>
                </li>
                 
                <li>
                    <a class="nav-link text-dark" asp-controller="ApplicationUserEvent" asp-action="MyEvents">Moje wydarzenia</a>
                </li>
                 
                <li>
                    <a class="nav-link text-dark" asp-controller="Event" asp-action="Create" >Stwórz nowe wydarzenie</a>
                </li>
                 
                <li>
                    <a class="nav-link text-dark" asp-controller="User" asp-action="RedirectToAppliactionUserTeam" >Moje zespoły</a> 
                </li>
                
                <li>
                        <a class="nav-link text-dark" asp-controller="User" asp-action="Create" >Stwórz nowy zespół</a>
                </li>
             
            </ul>      
    </li>*@

    <li class="nav-item team-event-list">
        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Wydażenia</button>
        <ul>
            <li>
                <a class="nav-link active text-dark" asp-area="" asp-controller="Event" asp-action="Index">Dostępne wydarzenia</a>
            </li>

            <li>
                <a class="nav-link text-dark" asp-controller="ApplicationUserEvent" asp-action="MyEvents">Moje wydarzenia</a>
            </li>

            <li>
                <a class="nav-link text-dark" asp-controller="Event" asp-action="Create" >Stwórz nowe wydarzenie</a>
            </li>
        </ul>
    </li>

        <li class="nav-item team-event-list">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Zespoły</button>
        <ul>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">Dostępne zespoły</a>
            </li>

            <li>
                <a class="nav-link text-dark" asp-controller="User" asp-action="RedirectToAppliactionUserTeam" >Moje zespoły</a> 
            </li>

            <li>
                <a class="nav-link text-dark" asp-controller="User" asp-action="Create" >Stwórz nowy zespół</a>
            </li>
        </ul>                  
    </li>
}
</ul>