@model YourScheduler.BusinessLogic.Models.DTOs.TeamDto

@{
    ViewBag.Title = "Create Team";
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="card" style="width: 32rem;">
    <div class="card-header">
        Stwórz nowy zespół
    </div>
    <ul class="list-group list-group-flush">
        <form asp-action="Create" enctype="multipart/form-data">
        <li class="list-group-item">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nazwa zespołu</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <label asp-for="Description" class="control-label">Opis zespołu</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </li>
        <div>
            <img id="defaultTeam" src="/Pictures/defaultTeam.jpg" class="card-img-top" width="200" height="200">
        </div>
        <li class="list-group-item">
            <div class="form-group">
                <div>Wybierz zdjęcie (format .jpg lub .png)</div>
                <input asp-for="ImageFile" accept="image/*" onchange="loadImage(event)" />
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <button type="submit" class="btn btn-success icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Stwórz zespół">
                    <span class="bi bi-person-plus main-icons"></span>
                </button>
            </div>
        </li>
        </form>
        <li class="list-group-item">
            <a asp-controller="Team" asp-action="GetAllTeams" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Powrót">
                <span class="bi bi-arrow-return-left main-icons"></span>
            </a>
        </li>


    </ul>
</div>

<script>
    function loadImage(event) {
        var image = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var imageElement = document.getElementById('defaultTeam');
            imageElement.src = e.target.result;
        };

        reader.readAsDataURL(image);
    }
</script>