@{
    ViewBag.Title = "Błąd usuwania zespołu";
}

<h1>Nie możesz usunąć zespołu, nie jesteś założycielem zespołu</h1>

<div>
    <a asp-controller="Team" asp-action="Index" class="btn btn-primary">Powrót</a>
</div>