@model YourScheduler.BusinessLogic.Models.DTOs.TeamDto

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły zespołu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Name">Nazwa zespołu</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description">Opis zespołu</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a> 
    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Powrót</a> 
</div>


