@using YourScheduler.BusinessLogic.Models.DTOs;
@model HomeViewDto;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bg-warning">YourScheduler</h1>
    <h2 class="display-6">Ułóż sobie życie</h2>
</div>

<img src="@Model.ImgPath" class="img-fluid"/>
