@using YourScheduler.BusinessLogic.Models.DTOs;
@model HomeViewDto;


@{
	ViewData["Title"] = "Home Page";
}


<div class="row">

	<div class="col-md-12 text-center login-image-container">
		<img src="~/Pictures/yourscheduler.png" >
	</div>

	@*<div class="col-md-12 text-center login-image-container">
		<img src="~/Pictures/harmonogram_870x450_a.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Ułóż sobie życie!</div>
		</div>
	</div>

	<div class="col-md-12 text-center login-image-container">
		<img src="~/Pictures/friends.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Dodawaj znajomych</div>
		</div>
	</div>

	<div class="col-md-12 text-center login-image-container">
		<img src="~/Pictures/team-A.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Twórz zespoły</div>
		</div>
	</div>

	<div class="col-md-12 text-center login-image-container">
		<img src="~/Pictures/event-party.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Organizuj wydarzenia</div>
		</div>
	</div>

	<div class="col-md-12 text-center login-image-container">
		<img src="~/Pictures/meeting.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Zaplanuj spotkania</div>
		</div>
	</div>*@

</div>
