@using YourScheduler.BusinessLogic.Models.DTOs;
@model HomeViewDto;


@{
	ViewData["Title"] = "Home Page";
}


<div class="row">

	<div class="col-md-12 text-center login-image-container">
		<img src="~/Pictures/yourscheduler.png" >
	</div>

<div class="row start-page-img-container">
	<div class="col-md-2"></div>
	<div class="col-md-3 text-center login-image-container">
		<img src="~/Pictures/team-A.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Ułóż sobie życie!</div>
		</div>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-3 text-center login-image-container">
		<img src="~/Pictures/team-A.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Dodawaj znajomych</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

<div class="row start-page-img-container">
	<div class="col-md-2"></div>
	<div class="col-md-3 text-center login-image-container">
		<img src="~/Pictures/team-A.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Twórz zespoły</div>
		</div>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-3 text-center login-image-container">
		<img src="~/Pictures/team-A.jpg" class="main-site-image">
		<div class="image-overlay">
			<div class="image-text">Organizuj wydarzenia</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
	

</div>
