@using YourScheduler.Infrastructure.Entities;
@model HomeView;


@{
	ViewData["Title"] = "Home Page";
}



<section class="home">
	<div class="container-fluid">
		<div class="header-inner">
			<div class="bigtext text-color">
				<div class="bigtext-line0">
					<em>Hello, I'am</em>
				</div>
				<div class="bigtext bigtext-line1">
					<em>YOURSCHEDULER</em>
				</div>
				<div class="bigtext-line2">
					<em>I will make your day</em>
				</div>
			</div>
		</div>		
	</div>	
</section>

