@using YourScheduler.BusinessLogic.Models.DTOs;

@model EventDto

@{
    ViewData["Title"] = "AddThisEvent";
}

<h3>Czy chcesz dodać to wydarzenie do swojego kalendarza?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Name">Nazwa wydarzenia</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description">Opis wydarzenia</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Date">Data</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Date
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Isopen">Wydarzenie publiczne</label>
        </dt>
        @if (Model.Isopen == true)
        {
            <dd class="col-sm-10">
                Tak
            </dd>
        }
        @if (Model.Isopen == false)
        {
            <dd class="col-sm-10">
                Nie
            </dd>
        }
    </dl>

    <form asp-action="AddThisEvent">
        <input type="submit" value="Dodaj wydarzenie" class="btn btn-danger" /> |
        <a asp-action="MyEvents" class="btn btn-danger">Powrót do listy wydarzeń</a>
    </form>
</div>
