@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Konto zostało zablokowane</h1>
    <p class="text-danger">To konto jest tymczasowo zablokowane, spróbuj później.</p>
</header>
