@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zmienione. Kliknij <a asp-page="./Login">tu aby się zalogować</a>.
</p>
