@using YourScheduler.BusinessLogic.Models.DTOs;
@model UserDto

@{
    ViewData["Title"] = "info about user";
}

<h1>Dane Użytkownika</h1>

<div>
    
    <hr />
    <dl class="row">       
        <dt class="col-sm-2">
            <label asp-for="Name"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Surname">Nazwisko</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Surname
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Displayname">Nazwa Użytkownika</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Displayname
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Email"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
    </dl>
</div>
