@using YourScheduler.BusinessLogic.Models.DTOs;
@model TeamDto

@{
    ViewData["Title"] = "AddThisTeam";
}

<h1>Dodaje ten zespól - zapisz się do zespołu</h1>

<h3>Czy jesteś pewien/pewna czy chcesz być członkiem tego zespołu?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Name">Nazwa zespołu</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description">Opis zespołu</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
                   
    </dl>

    <form asp-action="AddThisTeam">
        <input type="submit" value="Dodaj zespół" class="btn btn-primary" /> |
        <a asp-controller="Team" asp-action="Index" class="btn btn-primary">Powrót do listy zespołow</a>
    </form>
</div>
