@model YourScheduler.BusinessLogic.Models.DTOs.TeamDto

@{
    ViewBag.Title = "Błąd podczas zapisywania się do zespołu";
}

<h1>Nie możesz ponownie zapisać się do tego zespołu, już jesteś członkiem zespołu</h1>

<div>
    <a asp-controller="ApplicationUserTeam" asp-action="MyTeams" class="btn btn-primary">Powrót</a>
</div>
