
@model IEnumerable<YourScheduler.BusinessLogic.Models.TeamDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Teams to choose</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                
                <td>
                    <a asp-action="AddThisTeam" asp-route-id="@item.Id">AddThisTeam</a>
                </td>
            </tr>
        }
    </tbody>
</table>
