@model IEnumerable<YourScheduler.BusinessLogic.Models.DTOs.TeamDto>

@{
    ViewData["Title"] = "MyTeams";
}

<h1>Moje zespoły</h1>
<hr />
<p>
    <a asp-controller="Team" asp-action="Create" class="btn btn-primary">Stwórz nowy zespół</a> |
    <a asp-controller="Team" asp-action="" class="btn btn-danger">Pokaż wszystkie zespoły</a> |
</p>
<hr />
<form asp-controller="ApplicationUserTeam" asp-action="MyTeams">
    <div class="input-group mb-3">
        <input type="text"
               class="form-control form-control-lg"
               placeholder="Wpisz nazwę wyszukiwanego zespołu"
               name="searchString" />
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name">Nazwa zespołu</label>
            </th>
            <th>
                <label asp-for="First().Description">Opis zespołu</label>
            </th>
           
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <partial name="_MyTeamsRow" model="item" />
        }
    </tbody>
</table>


