@using YourScheduler.BusinessLogic.Models.DTOs;
@model IEnumerable<TeamDto>

@{
    ViewData["Title"] = "MyTeams";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().Description"></label>
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>              
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">RemoveThisTeam</a>
                </td>
                <td>
                    <a asp-action="TeamMembers" asp-route-id="@item.Id">InfoAboutTeam</a>
                </td>
            </tr>
        }
    </tbody>
</table>

